<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%- include("../partials/nav.ejs") %> <%-
        include("../partials/side_bar.ejs") %>
        <!DOCTYPE html>

        <section class="section mt-10 md:mt-40">
          <div class="container mt-5">
            <div class="row">
              <div
                class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
              >
                <div class="card card-primary">
                  <div class="card-header">
                    <h4>Edit Product</h4>
                  </div>
                  <div class="card-body">
                    <form
                      method="post"
                      action="/dashboard/products/<%= product._id%>/edit"
                      class="needs-validation"
                      novalidate=""
                    >
                      <div class="form-group">
                        <label for="email">Name</label>
                        <input
                          id="name"
                          type="text"
                          class="form-control"
                          name="name"
                          tabindex="1"
                          required
                          autofocus
                          value="<%= product.name%>"
                        />
                        <div class="invalid-feedback">Please fill in name</div>
                      </div>
                      <div class="form-group">
                        <label for="email">Price</label>
                        <input
                          id="price"
                          type="number"
                          class="form-control"
                          name="price"
                          tabindex="2"
                          required
                          autofocus
                          value="<%= product.price%>"
                        />
                        <div class="invalid-feedback">Please fill in price</div>
                      </div>

                      <div class="form-group">
                        <label for="email">Amount</label>
                        <input
                          id="amount"
                          type="number"
                          class="form-control"
                          name="amount"
                          tabindex="3"
                          required
                          autofocus
                          value="<%= product.amount%>"
                        />
                        <div class="invalid-feedback">
                          Please fill in amount
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="email">Description</label>
                        <textarea
                          rows="5"
                          id="description"
                          type="text"
                          class="form-control"
                          name="description"
                          tabindex="1"
                          required
                          autofocus
                          value="<%= product.description%>"
                        >
<%= product.description%></textarea
                        >

                        <div class="invalid-feedback">
                          Please fill in Description
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="d-block">
                          <label for="category" class="control-label">Category</label>
                        </div>
                        <select
                          id="category"
                          class="form-control"
                          name="category"
                          tabindex="2"
                          required
                        >
                          <option value="" disabled selected>Select a category</option>
                          <% categories.forEach(function (category) { %>
                            <option value="<%= category.id %>" 
                              <%= category.id === product.category.id ? 'selected' : '' %>>
                              <%= category.name_english %> (<%= category.name_amharic %>)
                            </option>
                          <% }); %>
                        </select>
                        <div class="invalid-feedback">
                          Please select a category
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <button
                          type="submit"
                          class="btn btn-primary btn-lg btn-block"
                          tabindex="4"
                        >
                          Edit Product
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <%- include("../partials/settings.ejs") %> <%-
        include('../partials/footer.ejs') %>
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/js/custom.js"></script>
  </body>
</html>
