<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%- include("../partials/nav.ejs") %> <%-
        include("../partials/side_bar.ejs") %> <
        <div class="card-body max-w-xl mx-auto my-20 shadow-md rounded-md">
          <div class="row">
            <div class="col-sm-12">
              <form
                action="/dashboard/admins/<%= admin._id %>/edit"
                method="post"
                id="user-type-radio-container"
              >
                <div class="form-group">
                  <div class="d-block">
                    <label for="first_name" class="control-label"
                      >First Name</label
                    >
                  </div>
                  <input
                    id="first_name"
                    type="text"
                    class="form-control"
                    name="first_name"
                    tabindex="2"
                    value="<%= admin.first_name %>"
                    required
                  />
                  <div class="invalid-feedback password-error">
                    please fill in first name
                  </div>
                </div>

                <div class="form-group">
                  <div class="d-block">
                    <label for="last_name" class="control-label"
                      >Last Name</label
                    >
                  </div>
                  <input
                    id="last_name"
                    type="text"
                    class="form-control"
                    name="last_name"
                    tabindex="2"
                    value="<%= admin.last_name %>"
                    required
                  />
                  <div class="invalid-feedback password-error">
                    please fill in last name
                  </div>
                </div>

                <div class="form-group">
                  <div class="d-block">
                    <label for="phone_number" class="control-label"
                      >Phone Number</label
                    >
                  </div>
                  <input
                    id="phone_number"
                    type="tel"
                    class="form-control"
                    name="phone_number"
                    tabindex="2"
                    value="<%= admin.phone_number %>"
                    required
                  />
                  <div class="invalid-feedback password-error">
                    please fill in phone number
                  </div>
                </div>

                <div class="form-group">
                  <div class="d-block">
                    <label for="email_address" class="control-label"
                      >Email Address</label
                    >
                  </div>
                  <input
                    id="email_address"
                    type="email"
                    class="form-control"
                    name="email_address"
                    tabindex="2"
                    value="<%= admin.email_address %>"
                    required
                  />
                  <div class="invalid-feedback password-error">
                    please fill in email
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="is_active"
                    class="custom-control-input" tabindex="3" id="is_active" <%=
                    admin.is_active ? 'checked' : '' %> />
                    <label class="custom-control-label" for="is_active"
                      >Is Active</label
                    >
                  </div>
                </div>

                <h3 class="text-xl mb-6">Select Role</h3>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-check">
                      <input
                        class="form-check-input select-all"
                        type="checkbox"
                        id="selectAll"
                      />
                      <label class="form-check-label" for="selectAll">
                        Select All Roles
                      </label>
                    </div>
                  </div>
                </div>

                <hr class="mb-4" />

                <div class="row gy-3 mx-4" id="permission-list-container">
                  <% roles.forEach(role => { %>
                  <div class="col-md-4">
                    <div class="form-check">
                      <input class="form-check-input permission" type="checkbox"
                      name="roles[]" id="<%= role._id %>" value="<%= role._id
                      %>" <%= admin.roles.includes(role._id) ? 'checked' : '' %>
                      />
                      <label class="form-check-label" for="<%= role._id %>">
                        <%= role.role_name %>
                      </label>
                    </div>
                  </div>
                  <% }) %>
                </div>

                <div class="row mt-5">
                  <div class="col-md-12 text-end">
                    <a
                      href="javascript:history.back()"
                      class="btn btn-danger me-2"
                      >Cancel</a
                    >
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <%- include("../partials/settings.ejs") %> <%-
        include('../partials/footer.ejs') %>
      </div>
    </div>
    <script>
      // Get the "Select All" checkbox and all permission checkboxes
      const selectAllCheckbox = document.getElementById('selectAll');
      const permissionCheckboxes = document.querySelectorAll('.permission');

      // Add an event listener to the "Select All" checkbox
      selectAllCheckbox.addEventListener('change', function () {
        // Set the state of all permission checkboxes to match the "Select All" checkbox
        permissionCheckboxes.forEach((checkbox) => {
          checkbox.checked = selectAllCheckbox.checked;
        });
      });

      // Add an event listener to update "Select All" based on individual checkboxes
      permissionCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function () {
          // Check if all permissions are selected
          const allChecked = Array.from(permissionCheckboxes).every(
            (cb) => cb.checked
          );
          // Update the "Select All" checkbox
          selectAllCheckbox.checked = allChecked;
        });
      });
    </script>

    <!-- General JS Scripts -->
    <script src="/js/app.min.js"></script>
    <!-- JS Libraries -->
    <script src="/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/js/custom.js"></script>
  </body>
</html>
