<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <%- include("./partials/nav.ejs") %> <%-
        include("./partials/side_bar.ejs") %>

        <div class="card-body">
          <h4 class="card-title float-left mt-2">Filter by User Type</h4>
          <a href=""></a>
          <div class="row">
            <div class="col-sm-12">
              <form class="row" id="user-type-radio-container">
                <div class="col">
                  <div
                    class="form-group m-t-15 m-checkbox-inline mb-0 custom-radio-ml"
                  >
                    <div class="radio radio-primary">
                      <input
                        id="radioinline1"
                        type="radio"
                        name="user_type"
                        value="ALL"
                      />
                      <label class="mb-0" for="radioinline1"
                        >All<span class="digits"> </span
                      ></label>
                    </div>
                    <div class="radio radio-primary">
                      <input
                        id="radioinline2"
                        type="radio"
                        name="user_type"
                        value="ADMIN"
                      />
                      <label class="mb-0" for="radioinline2"
                        >Admin<span class="digits"> </span
                      ></label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Role Name</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="role_name"
                      id="role_name"
                      placeholder="Enter Unique Role Name"
                    />
                    <span class="messages"></span>
                  </div>
                </div>

                <div class="checkbox-fade fade-in-info m-b-20">
                  <label>
                    <input class="select-all" type="checkbox" value="" />
                    <span class="cr"></span><span> Select All</span>
                  </label>
                </div>

                <div
                  class="card-body animate-chk row"
                  id="permission-list-container"
                >
                  <% permissions.forEach(permission => { %>
                  <div
                    class="col-md-3 checkbox-fade fade-in-default permission-container"
                  >
                    <label>
                      <input
                        class="permission checkbox_animated"
                        type="checkbox"
                        data-user-type="<%= permission.user_type %>"
                        name="permissions[]"
                        value="<%= permission._id %>"
                      />
                      <span class="cr"></span>
                      <span style="font-size: 13px"
                        ><%= permission.description %></span
                      >
                    </label>
                  </div>
                  <% }) %>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10">
                    <a
                      type="button"
                      href="/home/users/roles/all"
                      class="btn btn-danger m-b-0"
                      >Cancel</a
                    >
                    <button
                      type="button"
                      onclick="CreateRole()"
                      class="btn btn-primary m-b-0"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <%- include("./partials/settings.ejs") %> <%-
        include('./partials/footer.ejs') %>
      </div>
    </div>

    <!-- General JS Scripts -->
    <script src="/js/app.min.js"></script>
    <!-- JS Libraries -->
    <script src="/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/js/custom.js"></script>
  </body>
</html>
